html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    font-size: 62.5%;
    letter-spacing: 0.125rem;
}

body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-right-style: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-size: 1.6rem !important;
}

span {
    font-size: 1.4rem;
    letter-spacing: 0.125rem;

    @media (max-width: 1024px) {
        font-size: 1.2rem;
    }

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

mat-error {
    font-size: 1.4rem;
}

mat-label {
    font-size: 1.6rem;
}

mat-card {
    font-size: 1.6rem;
}

mat-checkbox {
    font-size: 1.6rem;
}

.toast-container {
    font-size: 1.6rem;
}

.toast-warning,
.toast-error,
.toast-success {
    width: 40rem !important;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-color: theme('colors.website-background-color');
}
